 .img-showing {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background: black; 
    z-index: 999;  
    align-items: center; 
    justify-content: center;  
    display: none; 
    top: 0px; 
    left: 0px;
    overflow: hidden;
}

#carouselExampleIndicators {
    height: 100%;
    width: 50%;
}

.carousel-inner {
    width: 100% !important;
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.img-showing__close {
    position: absolute; 
    right: 5%; 
    top: 5%;
}

@media (max-width: 1000px) {
    #carouselExampleIndicators {
        width: 100%;
        height: 70%;
    }

     
} 

.carousel-control-prev {
    left: -15%;
}

.carousel-control-next {
    right: -15%;
}
